/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* dark ui */
  background-color: #201f1f !important;
  color: #999 !important;
}
.rectangle {
  width: 320px;
  height: 240px;
  background-color: #000000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle textarea {
  color: #ffffff;
  background-color: #000000 !important;
  border-color: #000000 !important;
  text-align: center;
}
.rectangle textarea:focus {
  outline: none;
  color: #fff !important;
}

.nav-tabs {
  border: none !important;
}

.nav-link.active {
  background-color: #000000 !important;
  border: none !important;
  color: #ffffff !important;
}

.btn-primary {
  margin-top: 3rem;
}
